.abt-sec {
  padding: 80px 0;
}
.abt-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 50px;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  padding: 0 20px;
}
.abt-img img {
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.abt-img img:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.img-g1 {
  grid-area: 2 / 1 / 4 / 2;
}
.img-g2 {
  grid-area: 1 / 2 / 3 / 3;
}
.abt-cont .heading-sm {
  color: var(--pri);
}
.abt-cont .heading-lg {
  margin-bottom: 30px;
}

/* Counter Section  */
.counter-sec {
  height: 250px;
  background-color: var(--sec);
}
.counter-sec .row {
  color: #fff;
}
.counter-num {
  font-size: 50px;
  font-weight: bold;
  outline: 1px solid var(--pri);
  width: 60%;
  margin: 0 auto;
  transition: all 500ms ease;
}
.counter-num:hover{
  outline-offset: -10px;
  outline-color: #fff;
}

@media (width<768px){
  .counter-sec{
    height:520px;
  }
}

/* Review Section  */
.abt-review-sec{
  padding: 80px 0 80px 0;
  background-image:url("../assets/images/banner/wt_patter.jpg") ;
  background-position: 80% 0 !important;
}
.abt-review{
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Brand Section  */
.brand-sec{
  height: 250px;
  background-color: var(--pri);
  display: flex;
  align-items: center;
}
.brand-slide .item{
  padding: 60px;
  filter: invert();
}