:root {
  --pri: #f51c1d;
  --sec: #121a25;
  --lightgrey: #f6f6f6;
}

/* font  */
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap");
/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  accent-color: var(--pri);
}
body {
  /* font-family: 'PT Sans'; */
}

img,
svg,
video {
  max-width: 100%;
}

/* Container  */
.cont-box {
  width: 90% !important;
  margin: 0 auto;
}

/* Image  */
.img-cover {
  width: 100% !important;
  object-fit: cover;
  object-position: 0 0;
}

/* Headings  */
.heading-lg,
.heading-xl,
.heading-md,
.heading-sm {
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Belanosima";
}
.heading-xl {
  font-size: clamp(30px, 5vw, 60px);
}
.heading-lg {
  font-size: clamp(25px, 3vw, 45px);
}
.heading-md {
  font-size: clamp(22px, 2vw, 40px);
}
.heading-sm {
  font-size: clamp(20px, 1vw, 35px);
}

/* Links  */
a {
  text-decoration: none;
}
.link-pri {
  color: var(--pri);
}
.link-sec {
  color: var(--sec);
}
.link-sec:hover {
  color: var(--pri);
}
.link-pri:hover {
  color: var(--sec);
}

/* Buttons  */
.btns {
  padding: 10px 20px;
  border: 0;
  font-weight: bold;
  border-radius: 3px;
  transition: all 200ms ease-in;
}
.btns-pri {
  background-color: var(-- pri);
  color: var(--lightgrey);
}
.btns-pri:hover {
  background-color: var(--sec);
}
.btns-out {
  background: transparent;
  border: 1px solid var(--pri);
  color: var(--sec);
}
.btns-out:hover {
  background-color: var(--pri);
  color: var(--lightgrey);
}
.btns-w {
  background-color: var(--lightgrey);
  color: var(--sec);
}
.btns-w:hover {
  outline: 1px solid var(--pri);
}

/* icons  */
.icon {
  color: var(--pri);
}
.icon:hover {
  color: var(--sec);
}

/* Page Header  */
.page-header{
  height: 300px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/banner/red_banner.webp");
  background-size: cover;
  color: #fff;
}
.page-header-cont a{
  color: #fff;
  font-weight: bold;
}
.page-header-cont a:hover{
  text-decoration: underline;
  color: #fff ;
}