/* Navbar  */
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: bold;
}
.nav-link{
    font-weight: 600;
}
.nav-item:not(:first-child){
    margin-left: 20px;
}
.nav-item .active,
.nav-link:hover{
    color: var(--pri) !important;
}
.menu-icons span{
    margin-right: 20px;
}

/* Banner  */
.banner-item{
    display: grid;
    grid-template-columns: repeat(3fr);
}
.banner-item img{
    grid-area: 1 / 1;
    height: 650px;
    object-fit: cover;
}
.banner-item .banner-item-cont{
    grid-area: 1 / 1;
    width: 50%;
    margin-left: 50px;
    align-self: center;
    position: relative;
}

/* Popular Products  */
.pop-items{
    padding: 60px 0;
    width: 100%;
    overflow: hidden;
}
.pop-header{
    margin-bottom: 60px;
    text-align: center;
}
.pro-details{
    padding: 10px;
    text-align: center;
}
.pro-box{
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
}
.pro-box:hover .add-cart{
    opacity: 1;
}
.price{
    font-weight: 600;
    color: var(--pri);
}
.price span{
    text-decoration:line-through;
    color: #000;
}
.add-cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--pri);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}