/* Navbar  */
.navbar {
  padding: 20px 0;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link {
  font-weight: 600;
}
.nav-item:not(:first-child) {
  margin-left: 20px;
}
.nav-item .active,
.nav-link:hover {
  color: var(--pri) !important;
}
.menu-icons span {
  margin-right: 20px;
}

/* Banner  */
.banner-item {
  display: grid;
  grid-template-columns: repeat(3fr);
}
.banner-item img {
  grid-area: 1 / 1;
  height: 650px;
  object-fit: cover;
}
.banner-item .banner-item-cont {
  grid-area: 1 / 1;
  width: 50%;
  margin-left: 50px;
  align-self: center;
  position: relative;
}

/* Category Section 1  */
.cat-set-1 {
  padding: 80px 0 0 0;
}
.cat-set-box-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.cat-item {
  height: 250px;
  overflow: hidden;
  position: relative;
}
.cat-item img {
  transition: all 2000ms ease-in-out;
}
.cat-item .cat-item-cont {
  position: absolute;
  inset: 20px 0 auto 20px;
  color: #fff;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
}
.cat-item:hover img {
  scale: 1.05;
}
.cat-item-1 {
  grid-area: 1/1/2/3;
}
.cat-item-2 {
  grid-area: 1/3/2/5;
}
.cat-item-3 {
  grid-area: 2 / 1 / 4 / 3;
  height: 520px;
}
.cat-item-4 {
  grid-area: 3 / 3 / 4 / 5;
}
.cat-item-5 {
  grid-area: 2 / 3 / 3 / 5;
}

/* Main Cat Section  */
.main-cat{
  padding: 80px 0 0 0;
}
.main-cat-box{
  position: relative;
}
.main-cat-cont{
  position: absolute;
  height: fit-content;
  width: fit-content;
  inset: 0;
  margin: auto 20px;
}

/* Popular Products  */
.pop-items {
  padding: 80px 0 0 0;
  width: 100%;
  overflow: hidden;
}
.pop-header {
  margin-bottom: 60px;
  text-align: center;
}
.pro-details {
  padding: 10px;
  text-align: center;
}
.pro-box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  position: relative;
  border: 1px solid white;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}
.pro-box img {
  border-radius: 17px 17px 0 0;
}
.pro-box:hover {
  border: 1px solid var(--pri);
  transform: scale(1.05);
}
.pro-box:hover .add-cart {
  opacity: 1;
}
.price {
  color: var(--pri);
  font-size: 20px;
  font-weight: 600;
}
.price span {
  text-decoration: line-through;
  color: #000;
  font-size: 16px;
}
.add-cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pri);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* review Section  */
.review-sec{
  padding: 100px 0 0 0;
}
.review-head{
  display: flex;
  gap: 20px;
}
.review-head img{
  height: 80px;
  width: 80px !important;
  border-radius: 50%;
}
.review-head span{
  color: gold;
}
.fa-quote-left{
  font-size: 50px;
  margin-top: 20px;
}
.review-item{
  padding: 10px;
}
.review-sec .row{
  align-items: center;
  justify-content: center;
}

/* Offer Banner section  */
.offer-banner1-sec{
  padding: 100px 0;
}
.offer-banner1-sec img{
  transition: all 2s ease-in-out;
}
.offer-banner1-sec img:hover{
  scale: 0.9;
}

/* Footer Sec  */
.footer-sec{
  background-color: var(--lightgrey);
  padding: 80px 0;
  border-top: 1px solid var(--pri);
}
.footer-sec li{
  list-style: none;
  margin-bottom: 5px;
  font-weight: 600;
}
.footer-sec .link-list{
  position: relative;
  margin-bottom: 30px;
}
.footer-sec .link-list::after{
  content: '';
  height: 5px;
  width: 80px;
  background-color: var(--pri);
  position: absolute;
  inset: auto 0 -10px 0;
}