.login-sec{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.login-box{
    width: 450px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.form-item{
    position: relative;
}
.show-pass{
    position: absolute;
    inset: 12px 10px 0 auto;
    display: none;
}