.pro-det-sec{
    padding: 80px 0;
}
.pro-det-img,
.pro-det-cont{
    padding: 50px;
}
.main-img img{
    height: 600px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: 50% 0;
}
.price-box .price{
    font-size: 35px;
}
.pro-spec li{
    list-style-type: none;
}
.pro-spec li span{
    font-weight: bold;
}
.pro-spec hr{
    width: 10%;
}
.color-box{
    display: flex;
    gap: 10px;
}
.color-box div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--pri);
}
.size-box{
    width: 40%;
}